.center__elementos__pagina__principal{
    width: 100%;
    max-width: 1000px;
    display: block;
    margin: 0 auto;
  }
  
.box__conteudos__pagina__principal{
  width: 100%;
  display: flex;
}

.conteudo__pagina__principal{
  width: 65%;
}

.conteudo__adicional__pagina__principal{
  width: 35%;
}

.posts{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.perfil__pessoas__verMais{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.perfil__pessoas__verMais p{
  color: rgb(168,168,168);
  font-size: 16px;
}

.perfil__pessoas__verMais a{
  color: white;
  font-size: 16px;
}

.perfil__pessoas__verMais a:hover{
  color: rgb(168, 168, 168);
  transition: 0.2s;
}

.perfil__pessoas__sugeridas{
  margin-top: 5px;
}

@media screen and (max-width: 1000px){
  .conteudo__adicional__pagina__principal{
    display: none;
  }

  .conteudo__pagina__principal{
    width: 100%;
  }
}