:root{
  --border-color: rgb(219,219,219);
  --hover-color: rgb(28, 133, 203);
  --transition-hover: 0.2s;
  --min-width: 320px;
  --background-elementos-pagina: black;
  --border-color-pagina-principal: rgb(78, 73, 73);
  --color-elementos-pagina-principal: white;
  --width-aside-pagina-principal: 250px;
  --tema-banner-elementos: rgb(38, 38, 38);
}
/*rgb(38, 38, 38)*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html, body{
  height: 100%;
  min-width: var(--min-width);
}

#root{
  min-width: var(--min-width);
  height: 100%;
}

.mostrar{
  display: block !important;
}

